VITE_SUPABASE_URL=https://nocnrkeajzimagpwiing.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im5vY25ya2VhanppbWFncHdpaW5nIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODY5NjIxMjEsImV4cCI6MjEwMjUzODEyMX0.kY_GpcaselQLSjkfqVxJqP-OHg9c6-jMQgDbOQEE8yc
